:root {
   --primary-color: rgb(19, 67, 169);
   --primary-color-hover: rgba(19, 67, 169, 0.1);
   --secondary-color: rgba(223, 123, 35, 1);

   --text-color-main: rgb(0, 0, 0);
   --text-color-light: rgb(255, 255, 255);
   --text-color-dark: rgb(0, 0, 0);
   --text-color-dl: rgb(0, 0, 0);
   --text-color-dl-invert: rgb(255, 255, 255);

   --border-primary-color: rgb(74, 74, 74);
   --bg-primary: rgba(255, 255, 255);
   --bg-secondary: rgb(227, 231, 248);
   --bg-menu-open: rgba(255, 255, 255, 0.8);

   --bg-items-card: rgb(245, 245, 245);
   --bg-xp: rgb(245, 245, 245);
   /* --bg-stack-card: rgb(245, 245, 245); */
   --bg-stack-card: #e5e8e8;


   /* Variables pour les divs et éléments d'interface */
   --bg-button-dark: rgba(17, 24, 39, 1);
   --bg-button-light: rgb(245, 245, 245);
   --border-dark: rgba(0, 0, 0, 0.8);
   --border-light: rgb(245, 245, 245, 0.8);

   --bg-project-button: rgb(227, 231, 248);
   --border-project-button: rgba(0, 0, 0, 0.8);
   --text-project-button: rgba(0, 0, 0);
}


.dark {
   --primary-color: rgb(92, 225, 230, 1);
   --primary-color-hover: rgba(92, 225, 230, 0.1);
   --secondary-color: rgb(223, 123, 35, 1);
   --secondary-color-hover: rgba(255, 160, 80, 1);


   --text-color-main: rgb(177, 186, 211);
   --text-color-light: rgb(255, 255, 255);
   --text-color-dark: rgb(0, 0, 0);
   --text-color-dl: rgb(255, 255, 255);
   --text-color-dl-invert: rgb(0, 0, 0);

   --border-primary-color: rgb(226, 226, 226);
   --bg-primary: rgba(0, 0, 0);
   --bg-secondary: rgb(17, 34, 35);
   --bg-menu-open: rgba(14, 14, 14, 0.8);

   /* Variables pour le mode sombre */
   --bg-items-card: rgb(24, 24, 24);
   --bg-xp: rgb(24, 24, 24);
   --bg-stack-card: #0F0F0F;
   /* --bg-stack-card: rgb(24, 24, 24); */

   --bg-project-button: rgb(17, 34, 35);
   --border-project-button: rgba(255, 255, 255, 0.8);
   --text-project-button: rgba(255, 255, 255);
}


body {
   color: var(--foreground);
   background: var(--background);
}

/* Custom keyword highlighting */
.keyword-highlight {
   color: var(--text-color-dl);
   text-shadow: 0 0 1px currentColor;
}

.keyword-highlight2 {
   color: var(--text-color-dl);
   font-weight: 600;
}

.dark .keyword-highlight2 {
   font-weight: 500;
}

.group:hover .tag-shadow {
   text-shadow: 0 0 1px currentColor;
}