:root {
   --font-cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* body {
   font-family: 'Open Sans';
} */




/* body {
   font-family: var(--font-geist-mono, var(--font-cambria));
} */

/* font-family: Arial, Helvetica, sans-serif; */
/* font-family: var(--font-geist-sans); */

/* .font-cambria {
   font-family: var(--font-cambria);
} */