@tailwind base;
@tailwind components;
@tailwind utilities;


/* Handle colors app */
:root {
   /* --background: #ffffff;
   --foreground: #171717;
*/
   
   --bg-dark: #000;
   --bg-dark-items1: #1A1A1A;
   --bg-dark-items2: #0f0f0f;
   --bg-dark-menu: 0, 0, 0;
   --bg-light: #ffffff;
   --bg-light-items1: #f5f5f5;
   --bg-light-items2: #e5e8e8;

   --primary-color: var(--secondary-color); /* Use secondary as primary in light mode */
   --secondary-color: #1343a9; /* white mode */
   --secondary-color-opacity: rgba(19, 67, 169); /* white mode */
   --tertiary-color: #f7c40f;

   --text-color-light: #ffffff;
   --text-color-dark: #000000;

   --bg-button-dark: rgba(17, 24, 39, 1);
   --bg-button-light: rgb(245, 245, 245);
}

.dark:root {
   --primary-color: #5ce1e6; /* original primary for dark mode */
   --secondary-color: #1343a9;
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: Arial, Helvetica, sans-serif;
}

/* .dark :root {
   --background: --bg-dark-items2;
   --foreground: #ffffff;
   --foreground: #0ed572;
} */

/* Handle animation Numbers.tsx */
@keyframes scroll-down {
   0% {
      transform: translateY(-100%);
   }

   100% {
      transform: translateY(100%);
   }
}

.animate-scroll-down-fast {
   animation: scroll-down 10s linear infinite;
}

.animate-scroll-down-medium {
   animation: scroll-down 14s linear infinite;
}

.animate-scroll-down-slow {
   animation: scroll-down 20s linear infinite;
}


/* Handle animation Button Long CV.tsx */
@keyframes shine {
   0% {
      left: -75%;
   }

   100% {
      left: 100%;
   }
}

/* Animations */
.animate-shine {
   animation: shine 1.2s linear infinite;
}

@media (min-width: 893px) {
  .project-tags-min-height {
    min-height: var(--tags-min-height, 0);
  }
}










/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */

/* @media (prefers-color-scheme: dark) {
  :root {
    --secondary-color: #232946;
  }
}

.dark :root {
  --secondary-color: #232946;
} */

