@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 155, 120;
   --background-end-rgb: 255, 255, 255;
}

body {
   /* color: rgb(var(--foreground-rgb));
   background: linear-gradient(to bottom,
         transparent,
         rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
   background-color: black;
}


/* Handle animation Numbers.tsx */
@keyframes scroll-down {
   0% {
      transform: translateY(-100%);
   }

   100% {
      transform: translateY(100%);
   }
}

.animate-scroll-down-fast {
   animation: scroll-down 10s linear infinite;
}

.animate-scroll-down-medium {
   animation: scroll-down 14s linear infinite;
}

.animate-scroll-down-slow {
   animation: scroll-down 20s linear infinite;
}


/* Handle animation Button Long CV.tsx */
@keyframes shine {
   0% {
      left: -75%;
   }

   100% {
      left: 100%;
   }
}

.animate-shine {
   animation: shine 1.2s linear infinite;
}














/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 */